.books-pagination {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .075);
  background-color: rgba(255, 255, 255, 0.897);

  .pagination {

    button {
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }

      &.next {
        margin-left: 10px;
      }

      &.prev {
        margin-right: 10px;
      }
    }
  }

  .per-page {
    margin-right: auto;
    margin-left: 10px;

    select {
      min-width: 100px;
      height: 28px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .075);
      transition: border .5s;

      &:focus {
        outline: 0;
        border-bottom-color: dodgerblue;
      }
    }
  }

  .search-wrap {
    display: flex;
    align-items: center;

    .search {
      width: 100%;
      max-width: 250px;
    }

    span {
      font-size: 14px;
      padding: 5px;
      background-color: #f9f9f9;
      cursor: pointer;
    }

    input:not([type="submit"]), select {
      width: 100%;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
      height: 28px;
      padding: 0 10px;
      transition: border .5s;

      &:focus {
        outline: 0;
        border-bottom-color: rgb(30, 255, 225);
      }
    }
  }
}

.books-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  .book-card {
    position: relative;
    width: 20%;
    padding: 10px;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    .content {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      overflow: hidden;
      padding: 10px;
      background-color: #fff;
      box-shadow: 2px 2px 15px -10px rgba(0, 0, 0, 0);
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, .075);
      transition: box-shadow 0.8s;

      .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px;

        p {
          padding: 0 0 10px 0;
          margin: 0;

          &.book-title {
            font-weight: bold;
          }

          &.book-year {
            opacity: .55;
            font-style: italic;
          }
        }
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        .rating {
          unicode-bidi: bidi-override;
          direction: rtl;
          text-align: left;
        }
        .rating > span {
          display: inline-block;
          position: relative;
          width: 1.1em;
        }
        .rating > span:hover,
        .rating > span:hover ~ span {
          color: transparent;
        }
        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
          content: "\2605";
          position: relative;
          left: -2px;
          color: rgb(255, 0, 191);
        }
      }

      &:hover {
        box-shadow: 2px 2px 15px -10px rgba(0, 0, 0, 1);
      }
    }

    @media (max-width: 1400px) {
      width: 25%;
    }

    @media (max-width: 992px) {
      width: 33.33%;
    }

    @media (max-width: 860px) {
      width: 50%;
    }

    @media (max-width: 640px) {
      width: 100%;
    }
  }
}
